.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: black; 
    padding: 10px 20px; 
    height: 50px;
    font-size: 25px;
    font-weight: 350;

}



.navbar-menu {
    list-style: none;
    display: flex;
    margin-right: 380px; 
    padding: 0; 
}

.navbar-item {
    color: white; 
    margin-left: 60px; 
    cursor: pointer; 
    transition: color 0.3s; 
}

.navbar-item:hover {
    color: #ccc; 
}
